<h1>Bands</h1>
<table class="table">
  <% @bands.each do |band| %>
    <tr>
      <td><a href="<%= band_path(band) %>"><%= band.name %></td>
    </tr>
  <% end %>
</table>

<a href="<%= root_path %>"><button type="button" class="btn btn-success">Back To Home</button></a>
